<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OurGameSever.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ApplicationServer.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OurGameSever.ServerSettings>
            <setting name="IpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>50003</value>
            </setting>
        </OurGameSever.ServerSettings>
        <ApplicationServer.ServerSettings>
            <setting name="IpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>9000</value>
            </setting>
        </ApplicationServer.ServerSettings>
    </userSettings>
</configuration>